body{
    font-family: 'Montserrat', sans-serif;
}


#logo {
    margin-right: 10px;
}

#title {
    background-color: #ff4c68;
    color: white;
    padding-bottom: 5%;
}

#headline{
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
    
}

.container-fluid {
    padding: 3% 10%;
}

#title-row {
    margin-top: 60px;
}

/* Navigation Bar */
.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
}
.navbar {
    padding: 0 0 3.8rem 0;
}

.nav-item {
    margin: 0 20px;    
}

.nav-link {
    font-size: 1.4rem;
    font-family: 'Montserrat';
}

/* Download Buttons */
.download-btn {
    margin: 5% 3% 5% 0;
}

/* Title Image*/
#mockup-img {
    margin-left: 15%;
    margin-top: 10%;
    width: 60%;
    -ms-transform: rotate(25deg); /* IE 9 */
    transform: rotate(25deg);   
}

/* Features Section */


#features {
    text-align: center;
    margin-top: 100px;
}
.feature-title {
    font-family: 'Montserrat';
    font-weight:  700;
    font-size: 1.5rem;
}
.feature-desc {
    color: #8f8f8f;
}

.feature-icon {
    margin-bottom: 10px;
}

.feature-icon :hover{
    color:#ff4c88;
}

.feature-col {
    margin-bottom: 100px;
}