body{
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat';
}

h2 {
    
    font-weight: 700;
    font-size: 1.5re,;
}

#logo {
    margin-right: 10px;
}

/* Title Section */
#title {
    background-color: #ff4c68;
    color: white;
    padding-bottom: 5%;
}

#title .container-fluid {
    padding: 5% 10%;
}

.big-heading{
    font-weight: 750;
    font-size: 3rem;
    line-height: 1.5;
    
}

.container-fluid {
    padding: 7% 15%;
}

#title-row {
    margin-top: 60px;
}

/* Navigation Bar */
.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
}
.navbar {
    padding: 0 0 3.8rem 0;
}

.nav-item {
    margin: 0 20px;    
}

.nav-link {
    font-size: 1.4rem;
    font-family: 'Montserrat';
}


.download-btn {
    margin: 5% 3% 5% 0;
}

#mockup-img {
    margin-left: 15%;
   
    width: 60%;
    -ms-transform: rotate(25deg); /* IE 9 */
    transform: rotate(25deg);
    position: absolute; 
      
}

/* Features Section */


#features {
    text-align: center;
    padding-top: 100px;
    background-color: white;
    position: relative; 
    z-index: 1;
}

.feature-title {
    
    font-weight:  700;
    font-size: 1.5rem;
}
.feature-desc {
    color: #8f8f8f;
}

.feature-icon {
    margin-bottom: 10px;
}

.feature-icon :hover{
    color:#ff4c88;
}

.feature-col {
    margin-bottom: 100px;
}

/* Testimonials Section */

#testimonials {
    
    text-align: center;
    background-color: #ef8172;
    color: white;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin-top: 12px;
    margin-right: 15px;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding: 3%;
}

.press-logo {
    width: 15%;
    margin: 10px 20px 50px;
}

.carousel-item {
    padding: 7% 15%;
}

/* Pricing */
#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-col {
    padding: 3% 2%;
}

@media (max-width:991px)
{
    #mockup-img {
        position: static;
        transform:  rotate(0);
        margin-left: 0;
    }
    #title {
        text-align: center;
        
    }
}

/* Cta Section */
#cta {
    background-color: #ff4c68;
    color: white;
    text-align: center;
    
}

#cta-headline {
    
    font-weight: 780;
    font-size: 2.5rem;
}

#cta-container {
  
}

/* Footer Section */
#footer-p-tag {
    color: grey;
    font-size: 0.8rem;
    font-weight: 600;
}
#footer {
  
    background-color: white;
    
    text-align: center;
}
.footer-row {
   
    padding-bottom: 3%;
    
}
.footer-social-icon {
    margin: 20px 10px;
}